<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Lab6</title>
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
   crossorigin="anonymous">

<link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<style>
    a{
        color:rgb(250, 163, 2);
    }
    </style>
</head>

<body>

    <nav class="navbar navbar-light navbar-dark bg-dark">
        <a href="/" class="nav-link">Home</a>
        <a href="/market" class="nav-link">Markets</a>
        <a href="/seller" class="nav-link">Sellers</a>
        <a href="/client" class="nav-link">Clients</a>
        <a href="/merchandise" class="nav-link">Merchandises</a>
        <a href="/order" class="nav-link">Orders</a>
</nav>