<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">

        </div>
        <div class="modal-body">
            <form action="/market/create" method="post">
              <div class="form-group">
                <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Name" name="Name" autocomplete="off" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Phone" name="Phone" autocomplete="off" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Adress" name="Adress" autocomplete="off" required>
              </div>
              <div class="modal-footer center">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
          </div>
      </div>
    </div>
  </div>